<beans>

    <bean id="userDao" class="bean.UserDao"/>

    <bean id="userService" class="bean.UserService">
        <property name="id" value="1"/>
        <property name="company" value="com"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="common.MyBeanPostProcessor"/>
    <bean class="common.MyBeanFactoryPostProcessor"/>
</beans>