<beans xmlns:context="http://www.springframework.org/schema/context">

    <bean class="beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <context:component-scan base-package="cn.echo.springframework.test.bean"/>
<!--    <bean class="cn.echo.springframework.test.bean.UserService">-->
<!--        <property name="token" value="${token}"/>-->

<!--    </bean>-->

</beans>